<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   QuickRecord.entitlements
   QuickRecord

   Created by Sukumar Abhijeet on 15/02/25.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <!-- Allows user-selected file read/write access -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>
    
    <!-- Required for screen recording -->
    <key>com.apple.security.device.camera</key>
    <true/>

    <!-- Allows access to screen recording without prompting every time -->
    <key>com.apple.security.device.microphone</key>
    <true/>
</dict>
</plist>
